$black-color: #000000 !global;
$white-color: #FFFFFF !global;
$green-color: #21BF73 !global;
$red-color: #BF2133 !global;

$menu-color: #6C757D !global;
$coin-title: #212529 !global;
$ref-color: #0063F5 !global;

$input-color: #DFE2E4 !global;
$small-btn-color: #F8F9FA !global;
$price-color: #343A40 !global;
$small-btn-color-active: #0063F5 !global;
