$black-color: #000000;
$white-color: #FFFFFF;
$green-color: #21BF73;
$red-color: #BF2133;

$menu-color: #6C757D;
$coin-title: #212529;
$ref-color: #0063F5;

$lines-color: #DFE2E4;
$small-btn-color: #F8F9FA;
$price-color: #343A40;
