@import "styles/color.scss";

.description {
  margin: 21px 17px 21px 17px;

  h5 {
    color: $menu-color;
    padding-bottom: 5px;
  }

  p {
    font-size: 14px;

    a {
      text-decoration: underline!important;
    }
  }
}